<!-- 导航栏 -->
<nav class="navbar">
    <div class="container">
        <div class="nav-left">
            <a href="#" class="logo">Kaze</a>
        </div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="index.html">首页</a>
                <a href="blog.html">博客</a>
                <a href="about.html">关于我</a>

                <!-- <a href="resume.html">简历</a> -->
                <!-- <a href="projects.html">项目</a> -->
            </div>
            <div id="theme-toggle" aria-label="切换主题" class="theme-toggle">  
                <img src="public/images/sun.svg" alt="亮色主题" class="light-icon">
                <img src="public/images/moon.svg" alt="暗色主题" class="dark-icon">
            </div>
        </div>
    </div>
</nav> 